<!DOCTYPE html>
<html>
    {% include '/components/head.html.twig' %}
    <body>
        {% include '/components/header-banner.html.twig' %}
        <div class="client-content" id="client">

            <div class="container">
                <div class="panel" id="client-panel">
                    <div class="panel-body">
                        <h3>{{ client.getName }}</h3>

                        <p>Styled by: <a href="/stylists/{{ client.getStylistId }}">{{ stylist.getName }}</a></p>
                        <p>Phone Number: {{ client.getPhoneNumber }}</p>

                        <p><a href="/stylists/{{ client.getStylistId }}"><i class="fa fa-home" aria-hidden="true"></i> Return to stylist page</a></p>

                        <p><a href="/"><i class="fa fa-home" aria-hidden="true"></i> Home</a></p>
                    </div>
                </div>
            </div>
        </div>
        {% include '/components/footer.html.twig' %}
    </body>
</html>
